.header {
  &__nav {
    @include fontSize(20);
    @include fontFamily($primaryFont);
    width: 100%;
    background: white;
    overflow: hidden;
    box-shadow: inset 0 -10px 10px -10px #a1a1a1;
    &__list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: none;
      @media (min-width: 640px) {
        display: flex;
        padding: 15px 0;
      }      
      &__item {  
        padding-right: 25px;
        &__link {
          padding: 10px 0; 
          text-decoration: none;
          color: black;
          display: block;
          &:hover {
            background: #1b1b1b;
            color: white;
          }
        }
      }
    }
  }
  &__hero {
    background: url(../../public/assets/isaac-benhesed-249427-unsplash.jpg) center center;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__header1 {
      @include fontSize(60);
      @include fontFamily($primaryFont);
      font-weight: 700;
      letter-spacing: 1px;      
    }    
    &__header2 {
      @include fontSize(20);
      @include fontFamily($accentFont);
    }
  }
}

.toggle {
  width: 100%;
  padding: 15px 0;
  font-size: 40px;
  @media (min-width: 640px) {
    display: none;    
  }
}

.active {
  display: block;
}

