// Global section styles
// About me
// Skills
// Portfolio
// Contact me


// Global section styles
section {
  padding: 50px 0;
  @media (min-width: 640px) {
    padding: 100px 0;
  }
}
section h2 {
    @include fontSize(40);
    @include fontFamily($primaryFont);
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    position: relative;
    & span::after {
      content: "";
      width: 55px;
      height: 3px;
      background: $accentColor;
      position: absolute;
      left: 50%;
      top: 60px;
      transform: translateX(-50%);
    }
    @media (min-width: 640px){
      margin-bottom: 100px;
    }
  }

// About me
.about {
  &__container {
    @media (min-width: 640px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__text {
      @media (min-width: 640px) {
        width: 50%;
      }
      &__para {
        @include fontSize(18);
        @include fontFamily($secondaryFont);
        line-height: 1.6;
      } 
    }
  }
      &__image {
        width: 60%;
        border-radius: 50%;
        display: block; 
        margin: 0 auto 30px;   
        @media (min-width: 640px) {      
          max-width: 430px;      
        }
      }
}

// Skills
.skills {
  background: $primaryColor;
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item {
      text-align: center;
      width: calc(100% / 3);
      padding-bottom: 40px;
      @media (min-width: 640px) {
        width: 20%;
        padding-bottom: 60px;
      }
      &__icon{
        @include fontSize(50);
        margin: 0 auto;
        transition: 0.2s;
        &:hover {
          color: $accentColor;
        } 
        @media (min-width: 640px) {
          @include fontSize(70); 
        }
      }
      & svg {
        width: 50px;
        height: 50px;
        &:hover path {
           fill: $accentColor;
        }
        @media (min-width: 640px) {
          width: 70px;
          height: 70px;
        }
      }       
      &__wordmark {
        @include fontSize(16);
        @include fontFamily($accentFont);   
        text-align: center;
        font-weight: 500;
        @media (min-width: 640px) {
          @include fontSize(20); 
        }
      }
    }
  }
}

// Portfolio
.portfolio {
  &__container {
    padding: 25px 0 100px;
    @media (min-width: 760px) {
      display: flex;
      align-items: center;   
      justify-content: space-between; 
      &:nth-of-type(odd) {
        flex-direction: row-reverse;
      }
    }
    &__image-container {
      @media (min-width: 760px) {
        width: 45%;
      }
      &__image {
        max-width: 100%;
      }
    }
    &__header3 {
      @include fontFamily($accentFont);
      @include fontSize(30);
      font-weight: 500;
      text-align: center;
      @media (min-width: 760px) {
        text-align: left;
        &:nth-of-type(odd) {
          text-align: right;
        }
      }
    }
    &__content {
      @media (min-width: 760px) {
        width: 50%;
      }
      &__title {
        @include fontFamily($primaryFont);
        @include fontSize(28);
        font-weight: 400;
      }
      &__description {
        @include fontFamily($accentFont);
        @include fontSize(18);
        font-weight: 400;
        line-height: 1.6;
      }
      &__skills-list {
        @include fontFamily($accentFont);
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        &__item {
          @include fontSize(18);
          margin-right: 15px;
          margin-bottom: 10px;
          // text-transform: uppercase;
          letter-spacing: 1px;
          padding: 5px 10px;
          border: 2px solid $accentColor;
          transition: 0.2s;
          &:hover {
            border: 2px solid black;
            color: white;
            background: black;
          }
        }
      }      
      &__view-work {
        &__link {
          @include fontFamily($accentFont);
          @include fontSize(18);
          border: 2px solid black;
          background: black;
          padding: 5px 10px;
          text-decoration: none;
          color: white;
          margin-right: 15px;
          transition: 0.2s;
          &:hover {
            color: black;
            background: $accentColor;
            border: 2px solid $accentColor;
          }
        }
      }
    }
  }  
}

// Contact me
.contact {
  background: $primaryColor;
  &__container {
    @media (min-width: 760px) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__header3 {
    @include fontFamily($primaryFont);
    @include fontSize(28);
    text-align: center;
  }
  .contact-form { 
    @include fontFamily($accentFont);
    @include fontSize(18);
    font-weight: 400;
    input, textarea {
      display: block;
      border: none;
      width: 80%;
      border-bottom: 2px solid grey;
      padding: 15px 0;
      background: $primaryColor;
      margin-bottom: 40px;
    }
    textarea {
      height: 150px;
    }   
    input[type="submit"] {
      border: 1px solid $secondaryColor;
      padding: 20px 40px;
      width: initial;
      font-weight: 500;
      box-shadow: 3px 2px 10px 0px $secondaryColor;
      &:hover {
        box-shadow: none;
        background: white;
      }
    }
    @media (min-width: 760px) {
      width: 50%;
      max-width: 600px;
    }
  }
  .contact-info {
    text-align: center;
    @media (min-width: 760px) {
      width: 50%;
      padding: 0 25px;
    }
    &__link {
      @include fontFamily($accentFont);
      @include fontSize(18);      
      text-decoration: none;
      color: $secondaryColor;
      transition: 0.2s;
      &:hover {
        color: black;
        border-bottom: 1px solid black;
      }
    }
  }
}

.social-media {
  margin-top: 100px;
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    &__item {
      @include fontSize(40);
      &__link {
        color: $secondaryColor;
        transition: 0.2s;
        &:hover {
          color: $accentColor;
        }
      }
    }
  }
}