$primaryFont: 'Playfair Display', serif;
$secondaryFont: 'PT Serif', serif;
$accentFont: 'Poppins', sans-serif;
// font-family: 'Playfair Display', serif;
// font-family: 'PT Serif', serif;
// font-family: 'Poppins', sans-serif;