$primaryColor: #a1a1a1;
$secondaryColor: #2a2a2a;
$primaryAccentColor: #000f20;
$secondaryAccentColor: #ffffff;

@mixin colors($background, $color) {
  background: $background;
  color: $color;
}

@mixin fontSize($sizeValue) {
  font-size: $sizeValue * 1px;
  font-size: ($sizeValue/10) * 1rem;
}

@mixin position($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin fontFamily($family) {
  font-family: $family;
}

