@import 'setup';
@import 'typography';
@import 'utils';

html {
    font-size: 62.5%;
}
.container {
	max-width: 900px;
	margin: 0 auto;
}

body {
	background: url('public/assets/colin-czerwinski-577547-unsplash.jpg') no-repeat center center fixed;
	background-size: cover;
}
h1 {
	text-align: center;
}
h2 {
	text-decoration: none;
}

span {
	text-decoration: underline;
	font-family: $accentFont;
}