article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem; }

.wrapper {
  margin: 0 10px; }
  @media (min-width: 1040px) {
    .wrapper {
      width: 80%;
      max-width: 1170px;
      margin: 0 auto; } }

.header__nav {
  font-size: 20px;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  width: 100%;
  background: white;
  overflow: hidden;
  -webkit-box-shadow: inset 0 -10px 10px -10px #a1a1a1;
          box-shadow: inset 0 -10px 10px -10px #a1a1a1; }
  .header__nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none; }
    @media (min-width: 640px) {
      .header__nav__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 15px 0; } }
    .header__nav__list__item {
      padding-right: 45px; }
      .header__nav__list__item__link {
        padding: 15px;
        text-decoration: none;
        color: black;
        display: block;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
        .header__nav__list__item__link:hover {
          background: #1b1b1b;
          color: white; }

.header__hero {
  background: url(../../public/assets/isaac-benhesed-249427-unsplash.jpg) center center;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .header__hero__header1 {
    font-size: 60px;
    font-size: 6rem;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    letter-spacing: 1px; }
  .header__hero__header2 {
    font-size: 20px;
    font-size: 2rem;
    font-family: "Poppins", sans-serif; }

.toggle {
  width: 100%;
  padding: 15px 0;
  font-size: 40px; }
  @media (min-width: 640px) {
    .toggle {
      display: none; } }

.active {
  display: block; }

section {
  padding: 50px 0; }
  @media (min-width: 640px) {
    section {
      padding: 100px 0; } }

section h2 {
  font-size: 40px;
  font-size: 4rem;
  font-family: "Playfair Display", serif;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  position: relative; }
  section h2 span::after {
    content: "";
    width: 55px;
    height: 3px;
    background: #ED91B6;
    position: absolute;
    left: 50%;
    top: 60px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  @media (min-width: 640px) {
    section h2 {
      margin-bottom: 100px; } }

@media (min-width: 640px) {
  .about__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

@media (min-width: 640px) {
  .about__container__text {
    width: 50%; } }

.about__container__text__para {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "PT Serif", serif;
  line-height: 1.6; }

.about__image {
  width: 60%;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px; }
  @media (min-width: 640px) {
    .about__image {
      max-width: 430px; } }

.skills {
  background: #FAFAFC; }
  .skills__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .skills__list__item {
      text-align: center;
      width: calc(100% / 3);
      padding-bottom: 40px; }
      @media (min-width: 640px) {
        .skills__list__item {
          width: 20%;
          padding-bottom: 60px; } }
      .skills__list__item__icon {
        font-size: 50px;
        font-size: 5rem;
        margin: 0 auto;
        -webkit-transition: 0.2s;
        transition: 0.2s; }
        .skills__list__item__icon:hover {
          color: #ED91B6; }
        @media (min-width: 640px) {
          .skills__list__item__icon {
            font-size: 70px;
            font-size: 7rem; } }
      .skills__list__item svg {
        width: 50px;
        height: 50px; }
        .skills__list__item svg:hover path {
          fill: #ED91B6; }
        @media (min-width: 640px) {
          .skills__list__item svg {
            width: 70px;
            height: 70px; } }
      .skills__list__item__wordmark {
        font-size: 16px;
        font-size: 1.6rem;
        font-family: "Poppins", sans-serif;
        text-align: center;
        font-weight: 500; }
        @media (min-width: 640px) {
          .skills__list__item__wordmark {
            font-size: 20px;
            font-size: 2rem; } }

.portfolio__image {
  max-width: 100%; }

.portfolio__header3 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-size: 3rem;
  font-weight: 500; }

.portfolio__container__title {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: 400; }

.portfolio__container__description {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6; }

.portfolio__container__skills-list {
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0; }
  .portfolio__container__skills-list__item {
    font-size: 18px;
    font-size: 1.8rem;
    margin-right: 15px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    padding: 10px;
    border: 2px solid #ED91B6;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .portfolio__container__skills-list__item:hover {
      border: 2px solid black;
      color: white;
      background: black; }

.portfolio__container__view-work__link {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  text-decoration: none;
  color: #ED91B6; }

.contact .contact-form input, .contact .contact-form textarea {
  display: block;
  border: none;
  width: 80%;
  border-bottom: 2px solid grey; }

.social-media__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .social-media__list__item {
    font-size: 40px;
    font-size: 4rem; }
    .social-media__list__item__link {
      color: #2a2a2a;
      -webkit-transition: 0.2s;
      transition: 0.2s; }
      .social-media__list__item__link:hover {
        color: #ED91B6; }
